body {
background: #222;
}

line { stroke: lightgray; }
path { stroke: lightgray; }
text { fill: lightgray; }

.title {
font-family: sans-serif; 
font-size: 12px; 
text-anchor: left;
}

.zoom {
cursor: move;
fill: none;
pointer-events: all;
}

.dayticks text {
display: none;
} 

.dayticks .domain {
stroke: none;
}

.mouseindicator {
stroke: white; stroke-width: 2px; opacity: 0.2;
}

.nowindicator {
stroke: #AAAAFF; stroke-width: 4px; opacity: 0.2;
}

.axis path {
stroke-width: 0.5;
}

.axis line {
stroke-width: 1;
stroke: #aaa;
opacity: 0.5;
/*stroke-width: 0.5;*/
}

.dayticks line {
stroke-width: 0.5;
stroke: #000;
opacity: 0.2;
/*mix-blend-mode: multiply;*/
}

.axis--x text {
text-anchor: start;
}

.axis--x2 text {
text-anchor: start;
}

.kptext {
text-anchor: middle;
font-family: sans-serif;
font-size: 11px;
}

rect.kp_forecast {
stroke: none;
opacity: 0.3;
mix-blend-mode: normal;
*/  }

rect.kp_gfz {
opacity: 1;
stroke: none;
}

.visible {
visibility: visible;
}

.hidden {
visibility: hidden;
}

.Bxline {
fill: none;
stroke: none;
stroke-width: 0.25;
}

.Byline {
fill: #A0A0C0;
stroke: none;
stroke-width: 0.25;
}

.Bzline {
fill: #A03030;
stroke: none;
opacity: 1;
}

.Btline {
/*fill: #D0D0D0;*/
fill: #383838;
stroke: none;
}

.speedline {
fill: none;
stroke: orange;
stroke-width: 1.5;
}

.speedarea {
fill: #332200;
stroke: none;
}

.densityline {
fill: none;
stroke: lightblue;
stroke-width: 1.5;
}

.densityarea {
fill: #203040;
stroke: none;
}

.pressureline {
fill: none;
stroke: #6080C0;
stroke-width: 1;
}

.pressurearea {
/*    fill: #304088;*/
fill: #102050;
stroke: none;
}

.temperatureline {
fill: none;
stroke: #FF8080;
stroke-width: 1;
}

.temperaturearea {
/*fill: #FFC0C0;*/
fill: #300505;
stroke: none;
}